host_group:
  - name: group name 1
  - name: group name 2
  - name: web example
users:
  - name: Example
    password: example
    usergroups:
      - Zabbix administrators
    role_id: 1
hosts:
  - host: server1.example.com
    ip: 127.0.0.1
    port: 10050
    use_ip: False
    groupid: 
      - group name 1
      - group name 2
    templateid: 
      - template 1
      - template 2
      - template 3
    macros:
  - host: server2.example.com
    ip: 127.0.1.1
    port: 10050
    use_ip: False
    groupid: 
      - group name 1
      - group name 2
    templateid: 
      - template 1
      - template 2
      - template 3
    macros:
      VFS.FS.PUSED.MAX.CRIT: 80
      VFS.FS.PUSED.MAX.WARN: 70
web:
  - name: main page check
    hostname: some.site.com
    group: web example
    trigger: 
      type: web.test.fail
      count: 3
      priority: 4 # 0 - not classified; 1 - information; 2 - warning; 3 - average; 4 - high; 5 - disaster
    steps:
      - name: main page
        url: https://some.site.com/
        status_codes: 200
        number: 1
    