host_group:
  - name: group name 1
  - name: group name 2
hosts:
  - host: server1.example.com
    ip: 127.0.0.1
    port: 10050
    use_ip: False
    groupid: 
      - group name 1
      - group name 2
    templateid: 
      - template 1
      - template 2
      - template 3
  - host: server2.example.com
    ip: 127.0.1.1
    port: 10050
    use_ip: False
    groupid: 
      - group name 1
      - group name 2
    templateid: 
      - template 1
      - template 2
      - template 3
    